.footer {
  width: 100%;
  background: #e83d3c;

  font-family: "Ubuntu";
  font-style: normal;
}

.footer__container {
  max-width: 1200px;
  height: 233px;
  margin: 0 auto;
  display: flex;
  gap: 90px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer__logo {
  display: flex;
  width: 160px;
  height: 167px;
  flex-wrap: wrap;
  align-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #ffffff;
}
.footer__logo > p {
  margin: 0;
}

.footer_servises > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;
}

.footer_servises > ul > li {
  margin-bottom: 6px;
}

.footer_address {
  width: 250px;
}

.footer_address > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;
}

.footer_address > ul > li {
  margin-bottom: 6px;
}

.footer_phone_number > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;
}

.footer_phone_number > ul > li {
  margin-bottom: 6px;
}
